/* Stylesheet for the application */
.error_message{
    color: red;
    font-weight: bold;
    font-size: 18px;
}

hr {
    height:5px;
    border-width:0;
    background-color:#134d8a;
}

input, textarea, select{
    padding: 10px
}

p{
    margin: 5px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

body{
    background-color: #f1f1f1;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mindst 100% af viewportens højde */
    margin: 0;

}

#nav-fullwidth{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

#navbar {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#logo{
    display: flex;
    align-items: center;
}

#main-content{
    margin: 0 auto;
    margin-top: 10px;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#main-container{
    display: flex;
}

.pictures-frontpage{
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

#order-carport-content {
    position: relative;
    margin-top: 10px;
}

#button-order{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #3A3B3C;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s; /* Tilføjer en overgangseffekt for farveskift */
}

.button{
    background-color: #3A3B3C;
    color: white;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s; /* Tilføjer en overgangseffekt for farveskift */
}

.button:hover {
    background-color: #134d8a;
}

#button-order:hover {
    background-color: #134d8a;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

#carport-img-container {
    position: relative;
    display: inline-block; /* Sørger for, at containeren ikke udvides unødigt */
}

#carport-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Juster farven og gennemsigtigheden efter behov */
    opacity: 0; /* Start uden synlighed */
    transition: opacity 0.3s; /* Tilføjer en overgangseffekt */
}

#carport-img-overlay:hover {
    opacity: 1; /* Gør overlay synligt ved hover */
}


.form, .contact {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#hidden_menu select {
    width: 100%;
    box-sizing: border-box;
}

.contact{
    min-height: 420px;
    display: flex;
    justify-content: space-between;
}

#contact{
    display: flex;
    gap: 20px;
}

footer {
    margin-top: auto; /* Placerer footer nederst på siden */
    background-color: #757575;
    color: #fff;
    text-align: center;
}



@media screen and (max-width: 900px){

    #main-container{
        display: flex;
        flex-direction: column;
    }

}


@media screen and (max-width: 400px){

    #navbar {
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: #004485;
    }

    .main-menu{
        flex-direction: column;
        width: 100%;
        gap: 1px;
        padding: 0;
        margin: 0px;

    }

    .button{
        text-align: center;
    }

    #main-content, #contact {
        flex-direction: column;
    }
    .pictures-frontpage{
        flex-direction: column;
    }

}


/* START: Styling til se-nærmere-på-ordre.html*/
/* Flex container styling: Enables flexbox layout for the main container */
/* Container for the main content */
#main-container {
    display: flex;
}

/* Styling for the left, middle, and right content divs within the main container */
#main-container-left,
#main-container-mid,
#main-container-right {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    height: 75vh;
}

/* Adjusting the order of the left content div: Changes the visual order on the screen */
#main-container-left {
    order: 1;
}

/* Adjusting the order of the middle content div: Changes the visual order on the screen */
#main-container-mid {
    order: 2;

}

/* Adjusting the order of the right content div: Changes the visual order on the screen */
#main-container-right {
    order: 3;
}

/* Styling for the header: Centers the text within the header */
#main-header {
    text-align: center;
}

/* Container for the form sections */
#form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items horizontally */
}

/* Styling for labels */
#form-container label {
    margin-right: 10px;
}

/* Styling for form inputs and selects */
#form-container select,
#form-container input {
    flex: 1;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Styling for the submit button */
#gem-knap-user {
    display: block;
    margin: 0 auto; /* Centrer knappen vandret */
    margin-top: 10px; /* Tilføj lidt plads over knappen */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#gem-knap-carport {
    display: block;
    margin: 0 auto; /* Centrer knappen vandret */
    margin-top: 212px; /* Tilføj lidt plads over knappen */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#gem-knap-skur {
    display: block;
    margin: 0 auto; /* Centrer knappen vandret */
    margin-top: 392px; /* Tilføj lidt plads over knappen */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#gem-knap-nyt-skur {
    display: block;
    margin: 0 auto; /* Centrer knappen vandret */
    margin-top: 376px; /* Tilføj lidt plads over knappen */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for the submit button */
#gem-knap:hover {
    background-color: #45a049;
}

#send-regning-knap {
    display: block;
    margin: 0 auto; /* Centrer knappen vandret */
    /* Tilføj lidt plads over knappen */
    margin-bottom: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* SLUT: Styling til se-nærmere-på-ordre.html*/

#main-sub-header{
    display: flex;
}

#main-price-left,
#main-price-mid,
#main-price-right{
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}

#main-price-left{
    order: 1;
}

#main-price-mid{
    order: 2;
}

#main-price-right{
    order: 3;
}