<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<!-- REPLACE ME WITH A FRAGMENT -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>
<body>
<div id="nav-fullwidth">
    <!-- REPLACE ME WITH A FRAGMENT -->
    <div id="navbar">
        <div id="logo">
            <img src="../public/images/fog-logo.jpeg" th:src="@{/images/fog-logo.jpeg}" width="60px" height="60px"/>
        </div>
        <ul class="main-menu">
            <li class="button"><a href="/">Hjem</a></li>
            <li class="button"><a href="/bestil-carport">Bestil unik carport</a></li>
            <li class="button"><a href="/login">Login</a></li>
            <li class="button"><a href="/log-ud">Log ud</a></li>
            <!-- <li class="button" th:if="${session.loggedinUser == null}" th:remove="tag"><a href="/min-side" th:text="${session.loggedinUser.email}"></a></li>-->

            <div th:if="${session.currentUser != null}">
                <li class="button"><a href="/min-side" th:text="${session.currentUser.email}"></a></li>
            </div>

            <div th:if="${session.currentUser == null}">
                <li class="button"><a href="/min-side" th:text="test"></a></li>
            </div>
        </ul>
    </div>
</div>

<div id="main-content">

    <p>Du er nu logget ind</p>

</div>

<div id="ordre_liste">
    <h2>Hej <span th:text="${session.currentUser.getName()}"/>Alle ordre</h2>
    <table id="order_table">
        <tr>
            <th>Ordre ID</th>
            <th>Dato</th>
            <th>Kommentar</th>
            <th>
                <select name="status_column" id="status_column" onchange="updateTable()">
                    <option th:each="status : ${statusList}" th:text="${status.getText()}" th:value="${status.getText()}"></option>
                </select>
            </th>
            <th>
                Handlinger
            </th>
        </tr>
        <tr th:each="order : ${allOrders}">
            <td th:text="${order.getId()}">Ordre ID</td>
            <td th:text="${order.getDate()}">Dato</td>
            <td th:text="${order.getCustomerNote}">Kommentar</td>
            <td th:text="${order.getOrderStatus}">Status</td>
            <td>
                <form class="taskform" method="post">
                    <button type="submit" name="order_id" formaction="/delete">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<script>
    function updateTable() {
        // Declare variables
        var statusSelect = document.getElementById("status_column");
        var selectedStatus = statusSelect.value.toLowerCase();
        var orderTable = document.getElementById("order_table");
        var tableRows = orderTable.getElementsByTagName("tr");

        // Loop through all table rows, except the header row
        for (var i = 1; i < tableRows.length; i++) {
            var orderRow = tableRows[i];
            var orderStatusCell = orderRow.getElementsByTagName("td")[3];
            var orderStatus = orderStatusCell.textContent || orderStatusCell.innerText;
            var orderStatusLowercase = orderStatus.toLowerCase();

            // Hide rows that don't contain the selected status
            if (!orderStatusLowercase.includes(selectedStatus)) {
                orderRow.style.display = "none";
            } else {
                orderRow.style.display = "";
            }
        }
    }


</script>

<footer>
    <!-- REPLACE ME WITH A FRAGMENT -->
    <p id="footer-text">Created by Team LAHY - All rights reserved</p>

</footer>
</body>
</html>