<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bestillings side</title>
    <!-- REPLACE ME WITH A FRAGMENT -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>
<body>
<div id="nav-fullwidth">
    <!-- REPLACE ME WITH A FRAGMENT -->
    <div id="navbar">
        <div id="logo">
            <img src="../public/images/fog-logo.jpeg" th:src="@{/images/fog-logo.jpeg}" width="60px" height="60px"/>
        </div>
        <ul class="main-menu">
            <li class="button"><a href="/">Hjem</a></li>
            <li class="button"><a href="/bestil-carport">Bestil unik carport</a></li>
            <li class="button"><a href="/">Login</a></li>
        </ul>
    </div>
</div>

<div id="main-content">
    <h2>Bestil Quick-Byg tilbud- carport med fladt tag</h2>

    <p class="error_message" th:text="${#ctx.message}"></p>

    <div class="Order-box">
        <form id="form" method="post">

            <!--Drop down Carport bredde-->
            <label for="carport_width">Carport bredde*</label>
            <select id="carport_width" name="carport_width" th:required="true">
                <option
                        th:each="width : ${widthList}"
                        th:value="${width}"
                        th:text="${width + 'cm'}">
                    bredde
                </option>
            </select><br>

            <!--Drop down Carport længde-->
            <label for="carport_length">Carport længde*</label>
            <select id="carport_length" name="carport_length" th:required="true">
                <option
                        th:each="length : ${lengthList}"
                        th:value="${length}"
                        th:text="${length + 'cm'}">
                    længde
                </option>
            </select><br>

            <!--Drop down Carport højde-->
            <label for="carport_height">Carport højde*</label>
            <select id="carport_height" name="carport_height" th:required="true">
                <option
                        th:each="height : ${heightList}"
                        th:value="${height}"
                        th:text="${height + 'cm - Kan kun bestilles med denne højde'}">
                    højde
                </option>
            </select><br>


            <!--Drop down trapetztag-->
            <label for="trapetztag">Carport trapetztag*</label>


            <select id="trapetztag" name="carport_trapetztag">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>


            <!--Redskabsrum-->
            <h4> RedskabsrumNB!</h4>
            <p>Der skal beregnes 15cm tagudhæng på hver side a redskabsrummet</p><br>

            <!--Drop down Redskabsrum bredde-->
            <div>
                <p>Ønsker du et redskabsrum:</p>
                <input type="radio" onclick="show()" id="ja" name="redskabsrum" value="ja" th:required>
                <label for="ja">ja</label><br>
                <input type="radio" id="nej" onclick="hide()" name="redskabsrum" value="nej" th:required>
                <label for="nej">nej</label><br>

                <!-- Additional shed dimensions -->
                <div id="hidden_menu" hidden="true">
                    <div id="shed-dimensions">
                        <label for="shed_width">Redskabsrum bredde*</label><br>
                        <select id="shed_width" name="shed_width" th:required>
                            <option
                                    th:each="width : ${widthList}"
                                    th:value="${width}"
                                    th:text="${width + 'cm'}">
                                bredde
                            </option>
                        </select><br>

                        <label for="shed_length">Redskabsrum længde*</label><br>
                        <select id="shed_length" name="shed_length" th:required>
                            <option
                                    th:each="length : ${lengthList}"
                                    th:value="${length}"
                                    th:text="${length + 'cm'}">
                                længde
                            </option>
                        </select><br>
                    </div>
                    <!-- End of additional shed dimensions -->
                </div>

            </div>
            <br>

            <label for="note">Evt. bemærkninger</label>
            <textarea id="note" name="note" rows="4" cols="50"></textarea>

            <!--kontakt oplysniger, -->
            <h4>Kontakt Oplysninger</h4>
            <label for="name">Navn*</label>
            <input type="text" id="name" name="name" th:required="true"><br>


            <label for="address">Adresse*</label>
            <input type="text" id="address" name="address" th:required="true"><br>


            <label for="zip">Postnummer*</label>
            <input type="text" id="zip" name="zip" th:required="true"><br>


            <label for="phone">Telefon nr*</label>
            <input type="text" id="phone" name="phone" th:required="true"><br>


            <label for="email">Email*</label>
            <input type="text" id="email" name="email" th:required="true"><br>


            <label for="pass">Password*</label>
            <input type="text" id="pass" name="pass" th:required="true"><br>


            <input type="checkbox" id="consent" name="consent" value="true" checked th:required="true">
            <label for="consent">Fog må benytte de afgivne oplysninger til at kontakte mig i forbindelse med tilbud
                på QuickByg carport*</label><br>

            <button type="submit" formaction="/ordre-indsendt">Bestil tilbud</button>
        </form>
    </div>
</div>

<footer>
    <!-- REPLACE ME WITH A FRAGMENT -->
    <p id="footer-text">Created by Team LAHY - All rights reserved</p>
</footer>

<script>
    function hide() {
        document.getElementById('hidden_menu').hidden = true
    }

    function show() {
        document.getElementById('hidden_menu').hidden = false
    }


</script>

</body>
</html>