<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<!-- REPLACE ME WITH A FRAGMENT -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>
<body>
<div id="nav-fullwidth">
  <!-- REPLACE ME WITH A FRAGMENT -->
  <div id="navbar">
    <div id="logo">
      <img src="../public/images/fog-logo.jpeg" th:src="@{/images/fog-logo.jpeg}" width="60px" height="60px"/>
    </div>
    <ul class="main-menu">
      <li class="button"><a href="/">Hjem</a></li>
      <li class="button"><a href="/">Bestil unik carport</a></li>
      <li class="button"><a href="/">Login</a></li>
    </ul>
  </div>
</div>

<div id="main-content">
  <h2>Bestil Quick-Byg tilbud- carport med fladt tag</h2>

  <div class="Order-box">
    <form id="form" action="/action_page.php">
      <!--Drop down Carport bredde-->
      <label for="carport_bredde">Carport bredde*</label>


      <select id="carport_bredde" name="Carport bredde*">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select><br>
      <!--Drop down Carport længde-->
      <label for="carport_længde">Carport længde*</label>


      <select id="carport_længde" name="Carport_længde*">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select><br>


      <!--Drop down trapetztag-->
      <label for="trapetztag">Carport trapetztag*</label>


      <select id="trapetztag" name="Carport trapetztag*">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>


      <!--Redskabsrum-->
      <h4> RedskabsrumNB!</h4>
      <p>Der skal beregnes 15cm tagudhæng på hver side a redskabsrummet</p><br>
      <!--Drop down Redskabsrum bredde-->
      <label for="Redskabsrum_bredde">Redskabsrum bredde*</label>
      <select id="Redskabsrum_bredde" name="Redskabsrum bredde*">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select><br>

      <!--Drop down Redskabsrum længde-->
      <label for="Redskabsrum_længde">Redskabsrum længde*</label>
      <select id="Redskabsrum_længde" name="Redskabsrum længde*">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select><br>

      <!--kontakt oplysniger, -->
      <h4>Kontakt Oplysninger</h4>
      <label for="fullname">Navn*</label>
      <input type="text" id="fullname" name="Navn*"><br>


      <label for="address">Adresse*</label>
      <input type="text" id="address" name="Navn"><br>


      <label for="postnumber">Postnummer*</label>
      <input type="text" id="postnumber" name="Postnummer"><br>


      <label for="city">By*</label>
      <input type="text" id="city" name="By*"><br>


      <label for="tlfnumber">Telefon nr*</label>
      <input type="text" id="tlfnumber" name="Telefon nr*"><br>


      <label for="email">Email*</label>
      <input type="text" id="email" name="Email*"><br>


      <label for="password">Password*</label>
      <input type="text" id="password" name="Password*"><br>


      <!--kontakt samtykke checkbox-->
      <h4>Kontakt samtykke</h4>
      <input type="checkbox" id="permission" name="Kontakt samtykke" value="samtykke">
      <label for="permission">Fog må benytte de afgivne oplysninger til at kontakte mig i forbindelse med tilbud på QuickByg carport*</label><br></br>

      <button type="button">Bestil tilbud</button>
    </form>
  </div>
</div>

<footer>
  <!-- REPLACE ME WITH A FRAGMENT -->
  <p id="footer-text">Created by Team LAHY - All rights reserved</p>
</footer>
</body>
</html>