<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- HEAD FRAGMENT START -->
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<!-- HEAD FRAGMENT END -->
<body>
<!-- HEADER FRAGMENT START -->
<header id="nav-fullwidth" th:fragment="header">
    <nav id="navbar">
        <div id="logo">
                <a href="/"><img src="../public/images/fog-logo.jpeg" th:src="@{/images/fog-logo.jpeg}" width="60px" height="60px"/></a>
        </div>
            <ul class="main-menu">
                <li class="button"><a href="/">Hjem</a></li>
                <li class="button"><a href="/bestil-carport">Bestil unik carport</a></li>
                <div th:switch="${session.currentUser}!=null" th:remove="tag">
                    <div th:case="true" th:remove="tag">
                        <li class="button">
                            <a href="/min-side" th:text="${session.currentUser.getEmail()}"></a>
                        </li>
                        <li class="button"><a href="/log-ud">Log ud</a></li>
                    </div>
                    <li th:case="false" class="button"><a href="/login">Login</a></li>
                </div>
            </ul>
    </nav>
</header>
<!-- HEADER FRAGMENT END -->

<!-- FOOTER FRAGMENT START -->
<footer th:fragment="footer">
    <p id="footer-text">Created by Team LAHY - All rights reserved</p>
</footer>
<!-- FOOTER FRAGMENT END -->
</body>
</html>