<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Kontakt Oplysninger</h1>


    <!-- <form style="display: inline-block;" method="post" action="/name-change">
        <h4>
            Bruger ID: <span th:text="${session.user.getUserId()}"/>
            <input type="hidden" id="user_id" name="user_id">
            <input type="hidden" id="oldName" name="old" value="${order}">
            <input type="hidden" th:value="${user}" th:name="oldUser">
        </h4>


        <h4>Navn: <span th:text="${session.user.getName()}"></span>
            <label for="newName">Nyt Navn:</label>
            <input type="text" id="newName" name="newName" value="">
        </h4>

        <h4>Adresse: <span th:text="${session.user.getAddress()}"></span>
            <input type="hidden" id="oldName" name="oldName" value="${order.getName()}">
            <label for="newAddress">Ny Adresse:</label>
            <input type="text" id="newAddress" name="newAdress" value="">
        </h4>

        <h4>Postnummer: <span th:text="${session.user.getZipcode()}"></span>
            <input type="hidden" id="oldName" name="oldName" value="${order.getName()}">
            <label for="newZipcode">Nyt Postnummer:</label>
            <input type="text" id="newZipcode" name="newZipcode" value="">
        </h4>

        <h4>Telefon nr: <span th:text="${session.user.getMobile()}"></span>
            <input type="hidden" id="oldName" name="oldName" value="${order.getName()}">
            <label for="newMobile">Nyt Telefon nr:</label>
            <input type="text" id="newMobile" name="newMobile" value="">
        </h4>

        <h4>Email: <span th:text="${session.user.getEmail()}"></span>
            <input type="hidden" id="oldEmail" name="oldEmail" value="${order.getEmail()}">
            <label for="newEmail">Ny Email:</label>
            <input type="text" id="newEmail" name="newEmail" value="">
        </h4>
        <input type="hidden" name="user" th:value="${user}">

        <button type="submit" formaction="/gem">Gem</button>


    </form> -->
    <h1>Kontakt oplysninger</h1>
</div>
</body>
</html>