<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<!-- REPLACE ME WITH A FRAGMENT -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>
<body>
<header th:replace="~{fragments :: header}"></header>

<div id="main-content">
    <p class="error_message" th:text="${#ctx.message}"></p>
    <form method="post">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" th:required="true"><br>

        <label for="password">Kodeord</label>
        <input type="text" id="password" name="password" th:required="true"><br>

        <button type="submit" formaction="/dashboard">Log på</button>
    </form>

</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>